<tr id="<%= dom_id(income) %>">
    <td><%= Date.strptime(income.date, '%d%m%Y').strftime("%d/%m/%Y") %></td>
    <td><%= income.description %></td>
    <td><%= "R$ #{decimal_to_float(income.value)}" %></td>
    <td class="col-3 col-sm-3 text-center">
        <%= link_to income_path(income), class: 'btn btn-sm btn-neutral' do %>
            <i class="bi bi-eye"></i>
        <% end %>
        <%= link_to edit_income_path(income), class: 'btn btn-sm btn-neutral', data: { turbo_frame: 'modal' } do %>
            <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to income_path(income), class: 'btn btn-sm btn-neutral', data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' } do %>
            <i class="bi bi-trash"></i>
        <% end %>
    </td>
</tr>