<div class="px-5 py-5 p-lg-0 bg-surface-secondary h-screen">
  <div class="d-flex justify-content-center">
    <div class="col-lg-5 col-xl-4 p-12 p-xl-20 position-fixed start-0 top-0 h-screen overflow-y-hidden bg-primary d-none d-lg-flex flex-column">
      <!-- Logo -->
      <a class="d-block" href="">
        <%= image_tag 'imagotipo-white' %>
      </a>
      <!-- Title -->
      <div class="mt-32 mb-20">
        <h1 class="ls-tight font-bolder display-6 text-white mb-5">
          Vamos gerenciar o seu dinheiro.
        </h1>
        <p class="text-white text-opacity-75">
          Aqui você consegue fazer isso.
        </p>
      </div>
      <!-- Circle -->
      <div class="w-56 h-56 bg-orange-500 rounded-circle position-absolute bottom-0 end-20 transform translate-y-1/3"></div>
    </div>
    <div class="col-12 col-md-9 col-lg-7 offset-lg-5 d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
      <div class="container">
        <div class="tab-content">
          <div class="row mt-5">
            <div class="col-12 col-sm-12">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="mb-5">
                  <label class="form-label" for="email">E-mail</label>
                  <%= f.email_field :email, class: 'form-control', id: 'email', autofocus: true, autocomplete: "email" %>
                </div>
                <div class="mb-5">
                  <label class="form-label" for="password">Senha</label>
                  <%= f.password_field :password, class: 'form-control', id: 'password', autocomplete: "current-password" %>
                </div>
                <div class="mb-5">
                  <div class="form-check">
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me, class: 'form-check-input' %>
                        <%= f.label :remember_me, 'Lembrar de mim', class: 'form-check-label' %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div>
                  <%= f.submit "Acessar", class: 'btn btn-primary w-full' %>
                </div>
              <% end %>
              <div class="my-3 text-center">
                <small>Esqueceu a senha?</small>
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Recupere.", '', class: 'text-warning text-sm font-semibold' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>