<div class="row mb-5">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0">Receitas</h3>
                <%= link_to new_revenue_path, class: 'btn btn-sm btn-neutral me-2', data: { turbo_frame: 'modal' } do %>
                    <i class="bi bi-plus"></i> 
                    <span class="d-none d-sm-inline-flex">Adicionar</span>
                <% end %>
            </div>
            <div class="card-body">
                <%= search_form_for @q, html: { autocomplete: 'off' } do |f| %>
                    <div class="row mb-10">
                        <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                            <%= f.label :description, "Descrição" %>
                            <%= f.search_field :description_cont_any, class: 'form-control', placeholder: "SEFIN" %>
                        </div>
                        <div class="col-12 col-sm-6">
                            <%= f.label :date, "Mês / Ano" %>
                            <%= f.search_field :date_cont_any, class: 'form-control datepicker-mm-yyyy', placeholder: "SEFIN" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex justify-content-end">
                            <%= link_to revenues_path, class: 'btn btn-sm btn-neutral me-1' do %>
                                <i class="bi bi-eraser-fill"></i>
                                <span>Limpar</span>
                            <% end %>
                            <%= button_tag(:type => 'submit', class: 'btn btn-sm btn-neutral') do %>
                                <i class="bi bi-search me-1"></i> 
                                <span>Buscar</span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


<% if @revenues.present? %>
<div class="row mb-5">
    <div class="col-md-12 col-12">
        <div class="card mb-5">
            <div class="table-responsive">
                <table class="table table-striped text-nowrap mb-0">
                    <thead>
                        <tr>
                            <th class="col-2 col-sm-2">Data</th>
                            <th class="col-4 col-sm-4">Descrição</th>
                            <th class="col-2 col-sm-2">Valor</th>
                            <th class="col-3 col-sm-3 text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @revenues.each do |revenue| %> 
                            <tr>
                                <td><%= Date.strptime(revenue.date, '%d%m%Y').strftime("%d/%m/%Y") %></td>
                                <td><%= revenue.description %></td>
                                <td><%= "R$ #{decimal_to_float(revenue.value)}" %></td>
                                <td class="col-3 col-sm-3 text-center">
                                    <%= link_to revenue_path(revenue), class: 'btn btn-sm btn-neutral' do %>
                                        <i class="bi bi-eye"></i>
                                    <% end %>
                                    <%= link_to edit_revenue_path(revenue), class: 'btn btn-sm btn-neutral', data: { turbo_frame: 'modal' } do %>
                                        <i class="bi bi-pencil"></i>
                                    <% end %>
                                    <%= link_to revenue_path(revenue), class: 'btn btn-sm btn-neutral', data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' } do %>
                                        <i class="bi bi-trash"></i>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
            </div>
        </div>
    </div>
</div>
<% end %>
