<%= form_with(model: @card, id: @card.class.table_name, html: { autocomplete: 'off' }) do |f| %>
<div class="row mb-3">
    <div class="col-12 col-sm-12">
        <%= f.label :description, "Descrição" %>
        <%= f.text_field :description, class: 'form-control', placeholder: 'Banco do Brasil' %>
        <div class="text-danger">
        <% if @card.errors.include?(:description) %>
            <% @card.errors.full_messages_for(:description).each do |error_message| %>
                <%= error_message %>.
            <% end %>
        <% end %>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 col-sm-12">
        <%= f.label :limit, "Limite" %>
        <%= f.text_field :limit, class: 'form-control real-currency', placeholder: "R$ 14.277" %>
        <div class="text-danger">
        <% if @card.errors.include?(:limit) %>
            <% @card.errors.full_messages_for(:limit).each do |error_message| %>
                <%= error_message %>.
            <% end %>
        <% end %>
        </div>
    </div>
</div>
<% end %>