<!DOCTYPE html>
<html>
  <head>
    <title>Finances</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "logotipo.svg" %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'add_item', 'remove_item', 'payment_method' if controller_name == 'expenses' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
      <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-light border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <%= render 'shared/sidebar' %>
      </nav>
      <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <main class="pt-7 pb-3 px-3 bg-surface-secondary">
          <div class="container-fluid">
            <%= yield %>
            <%= turbo_frame_tag "modal", target: '_top' %>
          </div>
        </main>
      </div>
    </div>

    <%= render 'shared/toastr' %>
  </body>
</html>
