<!DOCTYPE html>
<html>
  <head>
    <title>Finances</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "logotipo.svg" %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <link rel="canonical" href="https://preview.keenthemes.com/axel-html-pro"/>
    <link rel="shortcut icon" href="https://preview.keenthemes.com/oswald-html-free/assets/media/logos/favicon.ico"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>        <!--end::Fonts-->

    <link href="https://preview.keenthemes.com/oswald-html-free/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="https://preview.keenthemes.com/oswald-html-free/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>

    <link href="https://preview.keenthemes.com/oswald-html-free/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="https://preview.keenthemes.com/oswald-html-free/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
  </head>

  <body id="kt_body" data-kt-app-header-stacked="true" data-kt-app-header-primary-enabled="true" data-kt-app-header-secondary-enabled="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <%= yield %>
  </body>
</html>
