<div class="row mb-5">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-sm-12 d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Despesas</h3>
                        <%= link_to new_planning_expense_category_path(planning_id: @planning), class: 'btn btn-sm btn-neutral me-2 mb-2 mb-sm-0', data: { turbo_frame: 'modal' } do %>
                            <i class="bi bi-plus"></i> 
                            <span>Categoria</span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if @planning.expense_categories.present? %>
    <div class="row mb-5">
        <div class="col-md-12 col-12">
        <% @planning.expense_categories.each do |category| %>
        <div class="card mb-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0"><%= category.description %></h3>
                <div>
                    <%= link_to edit_planning_expense_category_path(category), class: 'btn btn-sm btn-neutral', data: { turbo_frame: 'modal' } do %>
                        <i class="bi bi-pencil"></i>
                    <% end %>
                    <%= link_to planning_expense_category_path(category), class: 'btn btn-sm btn-neutral', data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' } do %>
                        <i class="bi bi-trash"></i>
                    <% end %>
                    <%= link_to new_planning_expense_path(category_id: category), class: 'btn btn-sm btn-neutral ms-2', data: { turbo_frame: 'modal' } do %>
                        <i class="bi bi-plus"></i> Despesa
                    <% end %>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-nowrap mb-0">
                    <thead class="">
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th style="border-radius: .5rem;" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% category.expenses.each do |item| %>
                            <tr>
                                <td class="col-3 col-sm-5 align-middle"><%= item.description %></td>
                                <td class="col-3 col-sm-2 align-middle"><%= "R$ #{decimal_to_float(item.value)}" %></td>
                                <td class="col-3 col-sm-3 text-center">
                                    <%= link_to edit_planning_expense_path(item), class: 'btn btn-sm btn-neutral', data: { turbo_frame: 'modal' } do %>
                                        <i class="bi bi-pencil"></i>
                                    <% end %>
                                    <%= link_to planning_expense_path(item), class: 'btn btn-sm btn-neutral', data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' } do %>
                                        <i class="bi bi-trash"></i>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% end %>
        </div>
    </div>
<% end %>