<div class="row mb-5">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0">Planejamento</h3>
                <%= link_to new_planning_path, class: 'btn btn-sm btn-neutral me-2', data: { turbo_frame: 'modal' } do %>
                    <i class="bi bi-plus"></i> 
                    <span class="d-none d-sm-inline-flex">Adicionar</span>
                <% end %>
            </div>
            <div class="card-body">
                <%= search_form_for @q, html: { autocomplete: 'off' } do |f| %>
                    <div class="row mb-10">
                        <div class="col-12 col-sm-12">
                            <%= f.label :month_year, "Mês / Ano" %>
                            <%= f.search_field :month_year_cont_any, class: 'form-control datepicker-mm-yyyy', placeholder: Time.now.strftime("%m/%Y") %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex justify-content-end">
                            <%= link_to plannings_path, class: 'btn btn-sm btn-neutral me-1' do %>
                                <i class="bi bi-eraser-fill"></i>
                                <span>Limpar</span>
                            <% end %>
                            <%= button_tag(:type => 'submit', class: 'btn btn-sm btn-neutral') do %>
                                <i class="bi bi-search me-1"></i> 
                                <span>Buscar</span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


<% if @plannings.present? %>
<div class="row mb-5">
    <div class="col-md-12 col-12">
        <div class="card mb-5">
            <div class="table-responsive">
                <table class="table table-striped text-nowrap mb-0">
                    <thead>
                        <tr>
                            <th>Mês / Ano</th>
                            <th>Receita</th>
                            <th>Despesas</th>
                            <th>Disponível</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render @plannings %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
            </div>
        </div>
    </div>
</div>
<% end %>
